@charset "UTF-8";
body,
html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-right: calc(10px + 110 * ((100vw - 320px) / 1440));
  height: 9.4375rem;
}
@media (max-width: 61.99875rem) {
  .header {
    height: 5.625rem;
  }
}
.header__logo {
  width: 7.5rem;
  height: 3.125rem;
}
@media (max-width: 47.99875rem) {
  .header__logo {
    width: 5.625rem;
    height: 2.5rem;
  }
}
@media (max-width: 29.99875rem) {
  .header__logo {
    width: 3.75rem;
    height: 1.25rem;
  }
}
.header__nav {
  display: flex;
  gap: 1.375rem;
  align-items: center;
}
@media (max-width: 47.99875rem) {
  .header__nav {
    gap: 0.5625rem;
  }
}
.header__nav-news-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #000000;
}
@media (max-width: 29.99875rem) {
  .header__nav-news-link {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
}
.telegram-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  background: #26A4E3;
  border-radius: 0.125rem;
}
@media (max-width: 29.99875rem) {
  .telegram-link__logo {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}
.telegram-link__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #FFFFFF;
}
@media (max-width: 29.99875rem) {
  .telegram-link__title {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25rem auto;
  gap: 1.875rem;
  padding-left: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-right: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-top: calc(5px + 45 * ((100vw - 320px) / 1440));
  gap: calc(10px + 20 * ((100vw - 320px) / 1440));
}
@media (max-width: 61.99875rem) {
  .content {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    grid-template-rows: 17.5rem auto;
  }
}
@media (max-width: 47.99875rem) {
  .content {
    grid-template-rows: 15.625rem auto;
  }
}
@media (max-width: 29.99875rem) {
  .content {
    grid-template-rows: 11.25rem auto;
  }
}
.content__title {
  display: flex;
  flex-direction: column;
  padding-top: 0.625rem;
}
.content__time {
  position: relative;
  height: 10.375rem;
  background: #FF7E2D;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
@media (max-width: 61.99875rem) {
  .content__time-line {
    position: absolute;
    border: 1.5px solid #492DFF;
    top: -2.5rem;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 61.99875rem) and (max-width: 29.99875rem) {
  .content__time-line {
    top: -1.25rem;
  }
}
@media (max-width: 61.99875rem) {
  .content__time {
    height: calc(84px + 66 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 29.99875rem) {
  .content__time {
    margin-top: 4.6875rem;
  }
}
.content__time-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  color: #FFFFFF;
  padding-left: 2.625rem;
  padding-right: 2.625rem;
}
@media (max-width: 61.99875rem) {
  .content__time-title {
    text-align: start;
  }
}
@media (max-width: 47.99875rem) {
  .content__time-title {
    font-size: calc(10px + 14 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 28.75rem) {
  .content__time-title {
    padding: 0 1.5625rem;
  }
}
.content__time-сountdown {
  display: flex;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: #FFFFFF;
  padding-left: 2.625rem;
  padding-right: 2.625rem;
}
@media (max-width: 47.99875rem) {
  .content__time-сountdown {
    font-size: 1.25rem;
    line-height: 1.875rem;
    justify-content: start;
  }
}
@media (max-width: 29.99875rem) {
  .content__time-сountdown {
    justify-content: start;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 28.75rem) {
  .content__time-сountdown {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 500;
    justify-content: start;
    padding: 0 1.5625rem;
  }
}
.content__img {
  display: grid;
  justify-self: end;
  grid-template-columns: 14.875rem 15.125rem;
  grid-template-rows: 13.3125rem 18.3125rem 11rem;
  gap: 0.4375rem;
}
@media (max-width: 61.99875rem) {
  .content__img {
    justify-self: center;
  }
}
@media (max-width: 29.99875rem) {
  .content__img {
    grid-template-columns: 10rem 10.25rem;
    grid-template-rows: 10.0625rem 9.125rem 8.3125rem;
  }
}
@media (max-width: 23.125rem) {
  .content__img {
    grid-template-columns: 9.0625rem 9.3125rem;
    grid-template-rows: 10.0625rem 9.125rem 8.3125rem;
  }
}
@media (max-width: 29.99875rem) {
  .content__img-1 {
    width: 10rem;
    height: 10.0625rem;
  }
}
@media (max-width: 23.125rem) {
  .content__img-1 {
    width: 9.0625rem;
    height: 10.0625rem;
  }
}
@media (max-width: 29.99875rem) {
  .content__img-2 {
    width: 10.25rem;
    height: 19.625rem;
  }
}
@media (max-width: 23.125rem) {
  .content__img-2 {
    width: 9.3125rem;
    height: 19.625rem;
  }
}
@media (max-width: 29.99875rem) {
  .content__img-3 {
    width: 10rem;
    height: 9.125rem;
  }
}
@media (max-width: 23.125rem) {
  .content__img-3 {
    width: 9.0625rem;
    height: 9.125rem;
  }
}
.content__img-4 {
  grid-column-start: 1;
  transform: translateY(-6.1875rem);
}
@media (max-width: 29.99875rem) {
  .content__img-4 {
    width: 20.6875rem;
    height: 8.3125rem;
    transform: translateY(0rem);
  }
}
@media (max-width: 23.125rem) {
  .content__img-4 {
    width: 18.75rem;
    height: 8.3125rem;
  }
}

.content-text {
  font-weight: 700;
  color: #000000;
  font-size: 3.75rem;
  line-height: 4.375rem;
}
@media (max-width: 61.99875rem) {
  .content-text {
    font-size: calc(40px + 29 * ((100vw - 320px) / 1440));
    line-height: calc(50px + 34 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 29.99875rem) {
  .content-text {
    font-size: calc(25px + 44 * ((100vw - 320px) / 1440));
    line-height: calc(40px + 44 * ((100vw - 320px) / 1440));
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-right: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-top: 7.8125rem;
  padding-bottom: 3.125rem;
}
@media (max-width: 61.99875rem) {
  .info {
    align-items: center;
    padding-top: 2.5rem;
  }
}
@media (max-width: 47.99875rem) {
  .info {
    padding-bottom: 1.25rem;
  }
}
.info__line {
  border: 1.5px solid #492DFF;
}
@media (max-width: 61.99875rem) {
  .info__line {
    display: none;
  }
}
.info__content {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  font-size: 1.875rem;
  padding: 5.3125rem 1.875rem 0 1.875rem;
  font-weight: 400;
  line-height: 2.3125rem;
  gap: calc(40px + 20 * ((100vw - 320px) / 1440));
}
@media (max-width: 61.99875rem) {
  .info__content {
    padding: 0;
    width: 100%;
  }
  .info__content br {
    display: none;
  }
}
@media (max-width: 47.99875rem) {
  .info__content {
    font-size: calc(20px + 20 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 23.125rem) {
  .info__content {
    line-height: 1.6875rem;
  }
}
.info__content-questions {
  display: flex;
  justify-content: space-between;
  gap: 0.3125rem;
}
@media (max-width: 61.99875rem) {
  .info__content-questions {
    flex-direction: column;
  }
}
.info__content-questions-1 {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
@media (max-width: 47.99875rem) {
  .info__content-questions-1 {
    gap: 1.25rem;
  }
}
.info__content-questions-1-text {
  color: #4453D9;
}
.info__content-questions-2 {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
@media (max-width: 61.99875rem) {
  .info__content-questions-2 {
    transform: translate(0, 11.875rem);
  }
}
@media (max-width: 47.99875rem) {
  .info__content-questions-2 {
    transform: translate(0, 9.375rem);
    gap: 1.25rem;
  }
}
@media (max-width: 23.5625rem) {
  .info__content-questions-2 {
    transform: translate(0, 10.9375rem);
  }
}
.info__content-questions-2-text {
  color: #4453D9;
}
.info__content-answeas {
  display: flex;
  justify-content: space-between;
  gap: 4.0625rem;
}
@media (max-width: 61.99875rem) {
  .info__content-answeas {
    flex-direction: column;
  }
}
.info__content-answeas-1 {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
@media (max-width: 61.99875rem) {
  .info__content-answeas-1 {
    transform: translate(0, -3.125rem);
  }
}
@media (max-width: 47.99875rem) {
  .info__content-answeas-1 {
    gap: 1.25rem;
  }
}
.info__content-answeas-1-text {
  color: #000000;
}
.info__content-answeas-2 {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
@media (max-width: 61.99875rem) {
  .info__content-answeas-2 {
    transform: translate(0, 5rem);
  }
}
@media (max-width: 47.99875rem) {
  .info__content-answeas-2 {
    transform: translate(0, 1.875rem);
    gap: 1.25rem;
  }
}
@media (max-width: 29.99875rem) {
  .info__content-answeas-2 {
    transform: translate(0, 2.5rem);
  }
}
@media (max-width: 23.125rem) {
  .info__content-answeas-2 {
    transform: translate(0, 1.875rem);
  }
}
.info__content-answeas-2-text {
  color: #000000;
}

.info-icon {
  width: 2.6875rem;
  height: 2.8125rem;
  transform: translate(-50px, 0px);
  opacity: 0;
  transition: all 0.6s ease 0.5s;
}
@media (max-width: 47.99875rem) {
  .info-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.footer {
  background-image: url("../img/Footer-fon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35.625rem;
}
@media (max-width: 61.99875rem) {
  .footer {
    transform: translate(0, 10rem);
    height: 43.75rem;
  }
}
@media (max-width: 47.99875rem) {
  .footer {
    transform: translate(0, 6.25rem);
  }
}
@media (max-width: 23.125rem) {
  .footer {
    transform: translate(0, 3.125rem);
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding-left: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-right: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-top: 5.3125rem;
}
@media (max-width: 47.99875rem) {
  .footer__container {
    padding-top: 1.875rem;
  }
}
.footer__container-title {
  font-weight: 500;
  font-size: 3.4375rem;
  line-height: 4.125rem;
  color: #F9F9F9;
  padding-bottom: 0.9375rem;
}
@media (max-width: 47.99875rem) {
  .footer__container-title {
    font-weight: 500;
    font-size: 2.1875rem;
    line-height: 1.8125rem;
  }
}
@media (max-width: 29.99875rem) {
  .footer__container-title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
    padding-bottom: 0.625rem;
  }
}
.footer__container-text {
  font-weight: 400;
  font-size: 2.0625rem;
  line-height: 2.4375rem;
  color: #F9F9F9;
  padding-bottom: 2.1875rem;
}
@media (max-width: 47.99875rem) {
  .footer__container-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 29.99875rem) {
  .footer__container-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    height: 3.375rem;
    padding-bottom: 0.625rem;
  }
}
.footer__container-form {
  display: flex;
  justify-content: space-between;
  gap: 1.125rem;
  padding-bottom: 2.1875rem;
}
@media (max-width: 61.99875rem) {
  .footer__container-form {
    flex-direction: column;
  }
}
.footer__container-form-box {
  width: 60%;
  margin-bottom: 1.25rem;
}
@media (max-width: 61.99875rem) {
  .footer__container-form-box {
    width: 100%;
  }
}
.footer__container-form-box-input {
  width: 95%;
  margin-bottom: 0.5rem;
  height: 5.5rem;
  background: #FFFFFF;
  border: 2px solid #FF7E2D;
  border-radius: 0.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4375rem;
  color: #9E9E9E;
  padding-left: 1.125rem;
}
@media (max-width: 61.99875rem) {
  .footer__container-form-box-input {
    width: 90%;
    height: 3.625rem;
  }
}
@media (max-width: 29.99875rem) {
  .footer__container-form-box-input {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    height: 3.375rem;
  }
}
.footer__container-form-button {
  width: 40%;
  height: 5.9375rem;
  background: #FF7E2D;
  border-radius: 0.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2.0625rem;
  line-height: 2.4375rem;
  color: #FFFFFF;
  border: none;
}
@media (max-width: 61.99875rem) {
  .footer__container-form-button {
    width: 60%;
    height: 3.625rem;
  }
}
@media (max-width: 29.99875rem) {
  .footer__container-form-button {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    height: 3.375rem;
    width: 80%;
  }
}
.footer__container-rules {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 166%;
  letter-spacing: 0.718563px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 2.1875rem;
}
.footer__container-copy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.5);
}

.just-validate-error-label {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25rem;
}/*# sourceMappingURL=style.css.map */