@use "sass:math";



body,
html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

@function percent($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

$maxWidthContainer: 1440px;

@mixin adaptive-value($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / 1220))
  }

$pc: rem(1480); // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: rem(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: rem(767.98); // телефоны L
$mobileSmall: rem(479.98); // телефоны s


  .container {
    max-width: $maxWidthContainer;
    padding: 0 rem(20);
    margin: 0 auto;;
  }

  //-------header--------

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptive-value("padding-left", 120, 30);
    @include adaptive-value("padding-right", 120, 30);
    // padding: 0 rem(120);
    height: rem(151);
      @media (max-width: $tablet) {
        height: rem(90);
      }
      @media (max-width: $mobile) {
      }
		&__logo {
        width: rem(120);
        height: rem(70);
        @media (max-width: $mobile) {
          width: rem(90);
          height: rem(60);
        }
        @media (max-width: $mobileSmall) {
          width: rem(60);
          height: rem(40);
        }
		}

		&__nav {
      display: flex;
      gap: rem(22);
      align-items: center;
        @media (max-width: $mobile) {
          gap: rem(9);
        }
		}

		&__nav-news-link {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: rem(18);
      line-height: rem(22);
      text-decoration-line: underline;
      color: #000000;
        @media (max-width: $mobileSmall) {
          font-size: rem(12);
          line-height: rem(15);
        }
		}

		&__nav-telegram-link {
		}
}
.telegram-link {
    display: flex;
    align-items: center;
    padding: rem(8) rem(16);
    gap: rem(8);
    background: #26A4E3;
    border-radius: rem(2);
		&__logo {
      @media (max-width: $mobileSmall) {
        width: rem(15);
        height: rem(15);
      }
		}

		&__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: rem(18);
      line-height: rem(22);
      color: #FFFFFF;
        @media (max-width: $mobileSmall) {
          font-size: rem(12);
          line-height: rem(15);
        }
		}
}

 //-------header--------


 //-------content--------
.content {
  display: grid;
  grid-template-columns: repeat(rem(700), 1fr);
  grid-template-rows: repeat(2, rem(218));
  gap: rem(20);
  padding: rem(83) rem(120) 0 rem(120);
  @media (max-width: rem(990)) {
    position: relative;
    padding-top: rem(30);
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  @media (max-width: rem(770)) {
    padding: rem(83) rem(90) 0 rem(90);
  }
  @media (max-width: rem(576)) {
    padding: rem(83) rem(30) 0 rem(30);
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: rem(33);
    padding-top: rem(73);
      @media (max-width: rem(770)) {

      }
      @media (max-width: rem(490)) {

      }
    }


    &__time {
      height: rem(159);
      background: #FF7E2D;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: rem(42);
      gap: rem(8);
        @media (max-width: rem(990)) {
          position: absolute;
          transform: translate(rem(-80), rem(1000));
        }
        @media (max-width: rem(770)) {
          transform: translate(rem(-80), rem(1050));
          padding-right: rem(10);
        }
        @media (max-width: rem(576)) {
          transform: translate(rem(-70), rem(900));
            padding-left: rem(22);
            padding-right: rem(22);
        }
        @media (max-width: rem(490)) {
          transform: translate(rem(-30), rem(730));
        }
        @media (max-width: rem(390)) {
          transform: translate(rem(-20), rem(730));
        }


          &-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: rem(18);
            line-height: rem(22);
            color: #FFFFFF;
              @media (max-width: rem(990)) {
                text-align: start;
              }
          }

          &-сountdown {
            font-weight: 700;
            font-size: rem(28);
            line-height: rem(34);
            color: #FFFFFF;
            @media (max-width: rem(576)) {
              font-weight: 700;
              font-size: rem(20);
              line-height: rem(30);
            }
            @media (max-width: rem(490)) {
              font-weight: 600;
              font-size: rem(16);
              line-height: rem(18);
            }
            @media (max-width: rem(390)) {
              font-weight: 600;
              font-size: rem(14);
              line-height: rem(18);
            }
            &-text {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
            }
          }

    }

  &__img {
      @media (max-width: rem(990)) {
        position: absolute;
        transform: translate(0, rem(370));
        border-bottom: 2px solid #492DFF;
      }
        @media (max-width: rem(490)) {
          transform: translate(0, rem(300));
        }
    &-block {
      display: grid;
      grid-template-columns: repeat(2, rem(242));
      grid-template-rows: repeat(3, rem(218));
      gap: rem(5);
          @media (max-width: rem(576)) {
            grid-template-columns: repeat(2, rem(180));
            grid-template-rows: repeat(3, rem(164));
          }
          @media (max-width: rem(490)) {
            grid-template-columns: repeat(2, rem(150));
            grid-template-rows: repeat(3, rem(132));
          }
        &-1 {
          @media (max-width: rem(576)) {
              width: rem(180);
              height: rem(160);
          }
          @media (max-width: rem(490)) {
              width: rem(150);
              height: rem(130);
          }
        }

        &-2 {
           @media (max-width: rem(576)) {
              width: rem(184);
              height: rem(314);
          }
            @media (max-width: rem(490)) {
              width: rem(154);
              height: rem(252);
          }
        }

        &-3 {
          @media (max-width: rem(576)) {
              width: rem(180);
              height: rem(146);
              margin-top: rem(-5);
          }
            @media (max-width: rem(490)) {
              width: rem(150);
              height: rem(118);
              margin-top: rem(-5);
          }
        }

        &-4 {
          grid-column-start: 1;
          transform: translateY(-20px);
             @media (max-width: rem(576)) {
              width: rem(368);
              height: rem(134);
          }
            @media (max-width: rem(490)) {
              width: rem(310);
              height: rem(130);
          }
        }
    }
  }
}


.content-text {
    font-weight: 700;
    font-size: rem(69);
    line-height: rem(84);
    color: #000000;
        @media (max-width: rem(1440)) {

        }
        @media (max-width: rem(1200)) {

        }
        @media (max-width: rem(600)) {
        }
          @media (max-width: rem(490)) {

        }
            &__first {

            }
            &__second {

            }
            &__third {

            }
            &__fourth {

            }
}

//-------content--------


//-------info--------

.info {
  display: flex;
  flex-direction: column;
  padding: rem(126) rem(120) rem(100) rem(120);
      @media (max-width: rem(990)) {
       padding-top: rem(980);
       align-items: center;
       position: relative;
      }
      @media (max-width: rem(770)) {
       padding: rem(980) rem(80) rem(100) rem(80) ;
      }
      @media (max-width: rem(576)) {
       padding: rem(850) rem(50) rem(100) rem(50) ;
      }
      @media (max-width: rem(490)) {
       padding: rem(680) rem(30) rem(100) rem(30) ;
      }
  &__line {
    border: 1.5px solid #492DFF;
      @media (max-width: rem(990)) {
       display: none;
      }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(60);
    padding: rem(85) rem(30) 0 rem(30);
    font-weight: 400;
    font-size: rem(30);
    line-height: rem(37);
     @media (max-width: rem(990)) {
       padding-top: 0;
      }
     @media (max-width: rem(1240)) {
        font-size: rem(24);
      }
     @media (max-width: rem(1100)) {
        font-size: rem(20);
      }
     @media (max-width: rem(990)) {
        font-size: rem(28);
      }
     @media (max-width: rem(770)) {
         font-size: rem(22);
         line-height: rem(28);
      }
     @media (max-width: rem(576)) {
         font-size: rem(20);
         line-height: rem(24);
      }
     @media (max-width: rem(490)) {
         font-size: rem(15);
         line-height: rem(18);
        padding-left: rem(10);
        padding-right: rem(10);
      }

    &-questions {
      display: flex;
      justify-content: space-between;
      @media (max-width: rem(990)) {
        flex-direction: column;
       }
      &-1 {
        display: flex;
        gap: rem(30);
        align-items: center;

      @media (max-width: rem(770)) {
        gap: rem(20);
       }
      @media (max-width: rem(490)) {
        gap: rem(10);
       }
        &-text {
          color: #4453D9;
        }
      }

      &-2 {
        display: flex;
        gap: rem(30);
        align-items: center;

      @media (max-width: rem(990)) {
        position: absolute;
        transform: translate(0, rem(210));
       }
      @media (max-width: rem(770)) {
        transform: translate(0, rem(170));
        gap: rem(20);
      }
      @media (max-width: rem(576)) {
        transform: translate(0, rem(160));
      }
      @media (max-width: rem(490)) {
        transform: translate(0, rem(140));
        gap: rem(10);
      }
        &-text {
          color: #4453D9;
        }
      }
    }
    &-answeas {
      display: flex;
      justify-content: space-between;
      @media (max-width: rem(990)) {
        flex-direction: column;
       }
      &-1 {
        display: flex;
        gap: rem(30);
        align-items: center;
      @media (max-width: rem(990)) {
        position: absolute;
        transform: translate(0, rem(-30));
       }
      @media (max-width: rem(770)) {
         gap: rem(20);
       }
      @media (max-width: rem(490)) {
         gap: rem(10);
       }
        &-text {
          color: #000000;
        }
      }

      &-2 {
        display: flex;
        gap: rem(30);
        align-items: center;
          @media (max-width: rem(990)) {
            position: absolute;
            transform: translate(0, rem(160));
        }
      @media (max-width: rem(770)) {
        transform: translate(0, rem(130));
        gap: rem(20);
      }
      @media (max-width: rem(576)) {
        transform: translate(0, rem(120));
      }
      @media (max-width: rem(490)) {
        transform: translate(0, rem(100));
        gap: rem(10);
      }
        &-text {
          color: #000000;
        }
      }
    }
  }

}
.info-icon {
  width: rem(43);
  height: rem(45);
      @media (max-width: rem(770)) {
        width: rem(24);
        height: rem(24);
      }
}

//-------info--------


//-------footer--------
.foot {
      @media (max-width: rem(990)) {
       position: relative;
    }
}
.footer {
  background-image: url('../img/Footer-fon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: rem(517);
    @media (max-width: rem(990)) {
     position: absolute;
      transform: translate(0, rem(160));
       height: rem(700);
    }
   @media (max-width: rem(770)) {
     position: absolute;
      transform: translate(0, rem(160));
       height: rem(800);
    }

		&__container{
       display: flex;
       flex-direction: column;
       padding: rem(75) rem(120) rem(35) rem(120);
              @media (max-width: rem(576)) {
                padding: rem(75) rem(30) rem(35) rem(30);
              }

       &-title {
          font-weight: 600;
          font-size: rem(55);
          line-height: rem(66);
          color: #F9F9F9;
          padding-bottom: rem(15);
             @media (max-width: rem(770)) {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: rem(35);
                line-height: rem(29);
              }
              @media (max-width: rem(576)) {
                font-weight: 500;
                font-size: rem(24);
                line-height: rem(30);
                height: rem(54);
              }
       }

      &-text {
        font-weight: 400;
        font-size: rem(33);
        line-height: rem(39);
        color: #F9F9F9;
        padding-bottom: rem(35);
              @media (max-width: rem(770)) {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: rem(20);
                line-height: rem(24);
              }
              @media (max-width: rem(576)) {
                font-weight: 400;
                font-size: rem(20);
                line-height: rem(24);
                height: rem(54);
              }
      }

      &-form {
        display: flex;
        justify-content: space-between;
        gap: rem(18);
        padding-bottom: rem(35);
            @media (max-width: rem(990)) {
              flex-direction: column;
            }

        &-input {
          width: 60%;
          height: rem(88);
          background: #FFFFFF;
          border: 2px solid #FF7E2D;
          border-radius: rem(8);
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: rem(32);
          line-height: rem(39);
          color: #9E9E9E;
          padding-left: rem(18);
            @media (max-width: rem(990)) {
              width: 90%;
              height: rem(58);
            }
              @media (max-width: rem(576)) {
                font-weight: 400;
                font-size: rem(20);
                line-height: rem(24);
                height: rem(54);
              }
        }

        &-button {
          width: 40%;
          height: rem(95);
          background: #FF7E2D;
          border-radius: rem(8);
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: rem(33);
          line-height: rem(39);
          color: #FFFFFF;
          border: none;
            @media (max-width: rem(990)) {
              width: 60%;
              height: rem(58);
            }
              @media (max-width: rem(576)) {
                font-weight: 400;
                font-size: rem(20);
                line-height: rem(24);
                height: rem(54);
                width: 80%;
              }
        }
      }
      &-rules {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: rem(22);
        line-height: 166%;
        letter-spacing: 0.718563px;
        color: rgba(255, 255, 255, 0.5);
        padding-bottom: rem(35);
      }

      &-copy {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: rem(12);
        line-height: rem(15);
        color: rgba(255, 255, 255, 0.5);
      }
		}

}



//-------footer--------